<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
		<link rel="stylesheet" type="text/css" href="index.css"></link>
		
		<title>Gerenciar obras</title>
	</h:head>
	 
	<body style="background-color: black; color: white; padding: 20px">
		<a href="http://localhost:8081/gerenciadorfront">
			<button style="vertical-align: top">
				<img src="http://www.iconhot.com/icon/png/devine/256/home-13.png" width="15px" alt=""></img>
				<b>Pagina inicial</b>
			</button>
		</a>
		
		<h1 style="top: 30px; background-color:darkgray; width: 450px; text-align: left; position: relative">Obras</h1>
		<br /><br />
		
		<h2 style="background-color:darkgray; width: 450px; text-align: left; position: relative">Adicionar uma nova obra</h2>
		<br /><br />
		
		<div style="text-align: left; padding: 10px; margin: 10px;  ">
			<form method="post" action="http://localhost:8080/obra" accept-charset="UTF-8"  enctype="application/json">
				Nome:     <input name="nome"  type="text"  size="40"></input><br />			
				Cod. Do autor: <input name="nome"  type="text"  size="5"></input><br />				
				Descrição:<br />
				<textarea name="descricao" rows="8" cols="55"></textarea>	<br />
				Data de publicação:  <input name="dtpublicacao" type="date"   pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" ></input><br />			
				Data de exibição:    <input name="dtexposicao"  type="date"   pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" ></input><br />			
				Selecione uma imagem:<input type="file"></input><br /><br />
				
				<button type="submit"  target="_blank">
					<img src="http://www.icons101.com/icon_png/size_256/id_66668/save.png" alt="" width="15px"></img>	
					<strong>Salvar</strong>
				</button>				
				
				<a href="http://localhost:8081/gerenciadorfront/obrascadastradas" >
					<button type="button" >
						<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn4.iconfinder.com%2Fdata%2Ficons%2Feldorado-layout%2F40%2Fpreview_list-512.png" alt="" width="15px"></img>
						<b>Listar obras cadastrados</b>
					</button>
				</a>
			</form>
		</div>	
		<a href="https://www.linkedin.com/in/thiago-vanilson-427a6b116/" target="_blank">
			<button style="position: fixed;  bottom: 10px; right: 20px">
				<img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_linkedin-512.png" alt="" width="25px"></img>
				<br />
				Desenvolvido por <br /><strong>Thiago Vanilson Florencio.</strong>
			</button>
		</a>
	</body>
</html>