<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" ></meta>
		<link rel="stylesheet" type="text/css" href="index.css"></link>
		
		<title>Listagem de autores cadastrados</title>
		
	</h:head>
	
	<body style=" background-color: black; color: white; padding: 20px">
		<a href="http://localhost:8081/gerenciadorfront/autor">
			<button style="vertical-align: top">
				<img src="http://icons.iconarchive.com/icons/rafiqul-hassan/blogger/512/Arrow-Back-icon.png" width="15px" alt=""></img>
				<b >Voltar</b>
			</button>
		</a>
		<a href="http://localhost:8081/gerenciadorfront">
			<button style="vertical-align: top">
				<img src="http://www.iconhot.com/icon/png/devine/256/home-13.png" width="15px" alt=""></img>
				<b >Pagina inicial</b>
			</button>
		</a>
		
		<h1 style="top: 30px; background-color:darkgray; width: 450px; text-align: left; position: relative">Autores</h1>
		<br /><br />
		
		
		<section>
		</section>
		
		
		<a href="https://www.linkedin.com/in/thiago-vanilson-427a6b116/" target="_blank">
			<button style="position: fixed;  bottom: 10px; right: 20px">
				<img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_linkedin-512.png" alt="" width="25px"></img>
				<br />
				Desenvolvido por <br /><strong>Thiago Vanilson Florencio.</strong>
			</button>
		</a>
		
		<script>
			var section = document.querySelector('section');
			
			var requestURL = 'http://localhost:8080/autor/all';
			var request = new XMLHttpRequest();
			
			request.open('GET', requestURL);
			request.responseType = 'text';
			request.send();
			
			request.onload = function() {
				var autoresText = request.response;
				var autores     = JSON.parse(autoresText);
				
				var table = document.createElement('table');
				var tableRow = document.createElement('tr');
				
				var tabletitles  = document.createElement('th');
				var tabletitles2 = document.createElement('th');
				var tabletitles3 = document.createElement('th');
				var tabletitles4 = document.createElement('th');
				
				tabletitles.textContent = "Nome";
				tableRow.appendChild(tabletitles);
				
				tabletitles2.textContent = "Email";
				tableRow.appendChild(tabletitles2);
				
				tabletitles3.textContent = "CPF";
				tableRow.appendChild(tabletitles3);
				
				tabletitles4.textContent = "Opções";
				tableRow.appendChild(tabletitles4);
				
				table.appendChild(tableRow);


				for (var j = 0; j != autores.length; j++) {
					tableRow = document.createElement('tr');

					var td1 = document.createElement('td');
				    td1.textContent = autores[j]['nome'] ;
				    tableRow.appendChild(td1);
				    
				    var td2 = document.createElement('td');
				    td2.textContent = autores[j]['email'] ;
				    tableRow.appendChild(td2);
				    
				    var td3 = document.createElement('td');
				    td3.textContent = autores[j]['cpf'] ;
				    tableRow.appendChild(td3);
				    
				    var td4 = document.createElement('button');
				    td4.textContent = "Excluir" ;
				    tableRow.appendChild(td4);

					table.appendChild(tableRow);

				}
				section.appendChild(table);
			}
		</script>
	</body>
</html>